body {
    background-color: rgb(236, 194, 111);
}

.tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.tab {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tabcontent.active {
    display: block;
}